In [365]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [366]:
df_total = pd.read_csv('./data_ventas_total_inversion.csv')

In [367]:
df_total.head(5)

,creado,fecha,proyecto,vendedor,tipo_de_cliente,cliente,cantidad,articulo,costo,impresión,precio,total,mermas,paqueteria_o_gasto_extra,utilidad_real,inversion,utilidad_real/cantidad
0,2018-10-29 10:15:30,2018-10-01,PS1808080202,CRISTIAN HERNANDEZ,RECURRENTE,VMACS,10.0,HIELERA,88.07,0.0,140.91,1409.1,0.0,0.0,528.40,880.70,52.8400
1,2018-11-07 09:04:28,2018-10-01,PS1808080202,CRISTIAN HERNANDEZ,RECURRENTE,VMACS,10.0,MOCHILA METROPOLITAN,451.33,0.0,541.60,5416.0,0.0,0.0,902.70,4513.30,90.2700
2,2018-11-07 09:04:28,2018-10-01,PS1808080202,CRISTIAN HERNANDEZ,RECURRENTE,VMACS,10.0,MALETA TRAVEL,228.13,0.0,296.57,2965.7,0.0,0.0,684.40,2281.30,68.4400
3,2018-11-07 09:04:28,2018-10-01,PS1808080202,CRISTIAN HERNANDEZ,RECURRENTE,VMACS,10.0,PORTA PASAPORTE,86.32,0.0,143.43,1434.3,0.0,0.0,571.10,863.20,57.1100
4,2018-11-07 09:19:25,2018-10-02,AS1809240301,CRISTIAN HERNANDEZ,NUEVO,TUS EVENTOS,50.0,MOUSE PAD,9.69,19.8,49.66,2483.0,2.0,0.0,989.12,1493.88,19.7824

In [ ]:
df_data_art['llavero'] = (df_data_art.apply(lambda row: row.astype(str).str.lower().str.contains('llave').any(), axis=1)).astype(int)

In [368]:
lista_articulos = """
bolsa

desta
llave
anties
infla
banderin
alcan


botella
termo
cilindro
taza
vaso
tarro
vino



kit
espejo
cosmeti
joy
set
juego

pelota

mochi
male


hiel
cuchara
utensilios
lonch
auricular
cubierto




humi
bocina
cable
soporte
celu
reloj

domi
jenga




frazada
toalla
tapete
funda



agenda
mouse
parag
porta
libreta
carpeta
grafo
usb
organiza
cuaderno
power
regla
lapi


herramienta
parasol



camisa
chale
gorra
guant
playe
panta



pray

antibac
careta
bocas





adaptador
crayo
 dispensa
 socket
 colgad
 tarjet 
 reconoci
 chama 
 identifi
 
iman 
 
 pin 
 calendar
 lampara
 agend
 aplaudi

 sudadera
 cinta 
 sujeta
 
 difus
 flyer
 sombri
 abanico
 impermea
 binocul
 encende



 ventila
 post 
pluma
paragu

 pastill
 cangure
navaja

 audífo
 
 pañal
batas
mascar
almoha
peluche
termómetro
"""

In [369]:
lista_articulos= lista_articulos.split()

In [370]:
lista_articulos_2 = """bolsa

destapadores
llavero
antiestrés
inflables
banderines
alcancías


botella
termo
cilindro
taza
vaso
tarro
vino



kit
espejo
cosmetiquera
joyero
set
juego

pelota

mochila
maleta


hielera
cuchara
utensilios
lonchera
auriculares
cubiertos




humificador
bocina
cable
soporte
celular
reloj

dominós
jenga




frazada
toalla
tapete
funda



agenda
mouse_pad
paraguas
porta
libreta
carpeta
bolígrafo
usb
organizador
cuaderno
power_bank
regla
lapicera_lapiz


herramienta
parasol



camisa
chaleco
gorra
guantes
playera
pantalón



espray

antibacterial
careta
cubrebocas






adaptadores
crayones
 dispensador
 popsocket
 colgador
 tarjeta 
 reconocimiento
 chamarra 
 identificador
iman 
 pin 
 calendario 
 lampara
 agenda 
 aplaudidor

 sudadera
 cinta 
 sujetador
 difusor
 flyer
 sombrilla
 abanico
 impermeable
 binoculares
 encendedor
 
 


 ventilador
 post_it 
pluma
paraguas
 pastillero
 cangurera
navaja

 audífonos

pañalera
bata
mascarilla
almohada
peluche
termómetro

 """

In [371]:
lista_articulos_2 = lista_articulos_2.split()

In [373]:
lista_articulos[-29] = 'pin '

In [316]:
df_total[df_total.apply(lambda row: row.astype(str).str.lower().str.contains('engrapad').any(), axis=1)].utilidad_real

641         0.0
5059    14200.5
Name: utilidad_real, dtype: float64

In [374]:
for palabra in range(len(lista_articulos_2)):
    df_total[lista_articulos_2[palabra]] = (df_total.apply(lambda row: row.astype(str).str.lower().str.contains(lista_articulos[palabra]).any(), axis=1)).astype(int)

In [372]:
lista_articulos[-29]

'pin'

In [375]:
len(lista_articulos)

105

In [376]:
len(lista_articulos_2)

105

In [377]:
num_art=0
lista_num_art=[]
for articulo in lista_articulos_2:
    num_art = df_total[df_total[articulo]==1].articulo.count()
    lista_num_art.append(num_art)

In [378]:
df = pd.DataFrame(list(zip(lista_articulos_2, lista_num_art)),columns =['Articulo', 'N'])

In [379]:
df.sort_values(by='N', ascending=False).head(20)

         Articulo    N
47      bolígrafo  561
0           bolsa  336
45        libreta  242
8           termo  235
9        cilindro  229
65     cubrebocas  221
10           taza  192
21        mochila  180
44          porta  179
48            usb  174
2         llavero  163
18            set  134
60        playera  129
11           vaso  107
3      antiestrés  103
20         pelota   68
58          gorra   59
30         bocina   56
63  antibacterial   55
71        tarjeta   54

In [381]:
df_total[df_total['cubrebocas']==1].articulo

352                  CUBREBOCAS ADULTO  ULTRA BARRIER 3.0
361                  CUBREBOCAS ADULTO  ULTRA BARRIER 3.0
366                        CUBRE BOCAS ULTRA BARRIER 3.0.
435                              CUBREBOCAS ULTRA BARRIER
451                               CUBREBOCAS ULTRABARRIER
                              ...
4837    CUBREBOCAS ADULTO TRICAPA COMPUESTO POR 2 CAPA...
4840    CUBREBOCAS ADULTO TRICAPA COMPUESTO POR 2 CAPA...
4872    CUBREBOCAS ADULTO TRICAPA COMPUESTO POR 2 CAPA...
4928    CUBRE BOCAS KN 95 DE 5 CAPAS CON TIRA DE SUJEC...
4948    CUBRE BOCAS KN 95 DE 5 CAPAS CON TIRA DE SUJEC...
Name: articulo, Length: 221, dtype: object

In [382]:
df_total.to_csv('data_con_articulos.csv', index=False, encoding='utf-8')

In [383]:
df_data = df_total[df_total.fecha.between('2022-01-01', '2023-01-30')]

In [175]:
lista_articulos_2022 = list(df_data.sort_values(by='fecha',ascending=False).articulo)

In [384]:
df_data.describe()

,cantidad,costo,impresión,precio,total,mermas,paqueteria_o_gasto_extra,utilidad_real,inversion,utilidad_real/cantidad,...,pastillero,cangurera,navaja,audífonos,pañalera,bata,mascarilla,almohada,peluche,termómetro
count,1526.000000,1526.000000,1526.000000,1526.000000,1.526000e+03,1526.000000,1526.000000,1526.000000,1526.000000,1526.000000,...,1526.000000,1526.000000,1526.000000,1526.000000,1526.0,1526.000000,1526.0,1526.000000,1526.000000,1526.0
mean,1047.948886,141.255886,6.632113,191.873913,1.703644e+04,1.403014,40.556913,4968.588569,12067.847148,43.306841,...,0.001311,0.003277,0.003277,0.001966,0.0,0.000655,0.0,0.000655,0.000655,0.0
std,7744.035394,799.376824,13.839628,927.687723,4.613233e+04,2.011303,886.099172,17119.765344,30390.539585,185.019586,...,0.036191,0.057166,0.057166,0.044310,0.0,0.025599,0.0,0.025599,0.025599,0.0
min,1.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,-1140.000000,-488.020000,-119.700000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0
25%,50.000000,9.400000,0.000000,17.720000,2.850562e+03,0.000000,0.000000,800.500000,1897.475000,4.430304,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0
50%,113.500000,31.500000,2.000000,54.335000,6.733650e+03,1.000000,0.000000,1820.735000,4441.025000,13.691053,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0
75%,500.000000,76.940000,8.290000,137.467500,1.526633e+04,2.000000,0.000000,4418.430000,10925.600000,34.013000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0
max,245000.000000,19000.000000,266.250000,19000.000000,1.207206e+06,20.000000,28200.000000,538278.000000,668928.000000,4000.000000,...,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,0.0,1.000000,1.000000,0.0