In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [99]:
df_compras_christian = pd.read_excel('~/Documents/Ironhack/Modulo 2/LABS/Poryecto-Final-Marzo-23/datas/COMISIONES CRISTIAN HERNANDEZ.xlsx')

C:\Users\sistemas\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [100]:
df_compras_christian.head(2)

,Creado,FECHA,PROYECTO,VENDEDOR,TIPO DE CLIENTE,CLIENTE,CANTIDAD,ARTICULO,COSTO,IMPRESIÓN,...,PAQUETERIA O GASTO EXTRA,UTILIDAD REAL,FACTURADO,NO DE FACTURA O NOTA DE VENTA,ENTREGADO,PAGADO,% COMISIÓN,COMISION,COMISION PAGADA,AUTORIZADO PARA PAGO
0,2018-10-29 10:15:30,2018-10-01,PS1808080202,CRISTIAN HERNANDEZ,RECURRENTE,VMACS,10.0,HIELERA,88.07,0.0,...,0.0,528.4,Sí,A2594,Sí,Sí,0.03,15.852,Sí,NaN
1,2018-11-07 09:04:28,2018-10-01,PS1808080202,CRISTIAN HERNANDEZ,RECURRENTE,VMACS,10.0,MOCHILA METROPOLITAN,451.33,0.0,...,0.0,902.7,Sí,A2594,Sí,Sí,0.03,27.081,Sí,NaN

In [101]:
df_compras_christian.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 867 entries, 0 to 866
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Creado                         867 non-null    datetime64[ns]
 1   FECHA                          841 non-null    datetime64[ns]
 2   PROYECTO                       844 non-null    object
 3   VENDEDOR                       844 non-null    object
 4   TIPO DE CLIENTE                844 non-null    object
 5   CLIENTE                        844 non-null    object
 6   CANTIDAD                       844 non-null    float64
 7   ARTICULO                       844 non-null    object
 8   COSTO                          844 non-null    float64
 9   IMPRESIÓN                      844 non-null    float64
 10  PRECIO                         844 non-null    float64
 11  TOTAL                          866 non-null    float64
 12  MERMAS                         843 non-null    float64
 13  PAQUETERIA O GASTO EXTRA       743 non-null    float64
 14  UTILIDAD REAL                  867 non-null    float64
 15  FACTURADO                      844 non-null    object
 16  NO DE FACTURA O NOTA DE VENTA  739 non-null    object
 17  ENTREGADO                      844 non-null    object
 18  PAGADO                         844 non-null    object
 19  % COMISIÓN                     452 non-null    float64
 20  COMISION                       613 non-null    float64
 21  COMISION PAGADA                508 non-null    object
 22  AUTORIZADO PARA PAGO           68 non-null     object
dtypes: datetime64[ns](2), float64(10), object(11)
memory usage: 155.9+ KB

In [102]:
df_compras_christian.columns = df_compras_christian.columns.str.lower().str.replace('\(.*','').str.replace('\.','').str.replace('\:','').str.strip().str.replace(' ','_')

C:\Users\sistemas\AppData\Local\Temp\ipykernel_8472\3405381963.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_compras_christian.columns = df_compras_christian.columns.str.lower().str.replace('\(.*','').str.replace('\.','').str.replace('\:','').str.strip().str.replace(' ','_')
C:\Users\sistemas\AppData\Local\Temp\ipykernel_8472\3405381963.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_compras_christian.columns = df_compras_christian.columns.str.lower().str.replace('\(.*','').str.replace('\.','').str.replace('\:','').str.strip().str.replace(' ','_')
C:\Users\sistemas\AppData\Local\Temp\ipykernel_8472\3405381963.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_compras_christian.columns = df_compras_christian.columns.str.lower().str.replace('\(.*','').str.replace('\.','').str.replace('\:','').str.strip().str.replace(' ','_')

In [103]:
df_compras_christian.columns

Index(['creado', 'fecha', 'proyecto', 'vendedor', 'tipo_de_cliente', 'cliente',
       'cantidad', 'articulo', 'costo', 'impresión', 'precio', 'total',
       'mermas', 'paqueteria_o_gasto_extra', 'utilidad_real', 'facturado',
       'no_de_factura_o_nota_de_venta', 'entregado', 'pagado', '%_comisión',
       'comision', 'comision_pagada', 'autorizado_para_pago'],
      dtype='object')

In [104]:
df_compras_christian = df_compras_christian[df_compras_christian.vendedor.notna()]

In [105]:
df_compras_christian.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 844 entries, 0 to 843
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   creado                         844 non-null    datetime64[ns]
 1   fecha                          841 non-null    datetime64[ns]
 2   proyecto                       844 non-null    object
 3   vendedor                       844 non-null    object
 4   tipo_de_cliente                844 non-null    object
 5   cliente                        844 non-null    object
 6   cantidad                       844 non-null    float64
 7   articulo                       844 non-null    object
 8   costo                          844 non-null    float64
 9   impresión                      844 non-null    float64
 10  precio                         844 non-null    float64
 11  total                          844 non-null    float64
 12  mermas                         843 non-null    float64
 13  paqueteria_o_gasto_extra       743 non-null    float64
 14  utilidad_real                  844 non-null    float64
 15  facturado                      844 non-null    object
 16  no_de_factura_o_nota_de_venta  739 non-null    object
 17  entregado                      844 non-null    object
 18  pagado                         844 non-null    object
 19  %_comisión                     452 non-null    float64
 20  comision                       613 non-null    float64
 21  comision_pagada                508 non-null    object
 22  autorizado_para_pago           68 non-null     object
dtypes: datetime64[ns](2), float64(10), object(11)
memory usage: 158.2+ KB

In [106]:
df_compras_christian.columns

Index(['creado', 'fecha', 'proyecto', 'vendedor', 'tipo_de_cliente', 'cliente',
       'cantidad', 'articulo', 'costo', 'impresión', 'precio', 'total',
       'mermas', 'paqueteria_o_gasto_extra', 'utilidad_real', 'facturado',
       'no_de_factura_o_nota_de_venta', 'entregado', 'pagado', '%_comisión',
       'comision', 'comision_pagada', 'autorizado_para_pago'],
      dtype='object')

In [107]:
df_compras_christian.drop(columns=['facturado',
       'no_de_factura_o_nota_de_venta', 'entregado', 'pagado', '%_comisión',
       'comision', 'comision_pagada', 'autorizado_para_pago'], inplace=True)

In [108]:
df_compras_christian.head(5)

,creado,fecha,proyecto,vendedor,tipo_de_cliente,cliente,cantidad,articulo,costo,impresión,precio,total,mermas,paqueteria_o_gasto_extra,utilidad_real
0,2018-10-29 10:15:30,2018-10-01,PS1808080202,CRISTIAN HERNANDEZ,RECURRENTE,VMACS,10.0,HIELERA,88.07,0.0,140.91,1409.1,0.0,0.0,528.40
1,2018-11-07 09:04:28,2018-10-01,PS1808080202,CRISTIAN HERNANDEZ,RECURRENTE,VMACS,10.0,MOCHILA METROPOLITAN,451.33,0.0,541.60,5416.0,0.0,0.0,902.70
2,2018-11-07 09:04:28,2018-10-01,PS1808080202,CRISTIAN HERNANDEZ,RECURRENTE,VMACS,10.0,MALETA TRAVEL,228.13,0.0,296.57,2965.7,0.0,0.0,684.40
3,2018-11-07 09:04:28,2018-10-01,PS1808080202,CRISTIAN HERNANDEZ,RECURRENTE,VMACS,10.0,PORTA PASAPORTE,86.32,0.0,143.43,1434.3,0.0,0.0,571.10
4,2018-11-07 09:19:25,2018-10-02,AS1809240301,CRISTIAN HERNANDEZ,NUEVO,TUS EVENTOS,50.0,MOUSE PAD,9.69,19.8,49.66,2483.0,2.0,0.0,989.12

In [109]:
df_compras_christian.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 844 entries, 0 to 843
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   creado                    844 non-null    datetime64[ns]
 1   fecha                     841 non-null    datetime64[ns]
 2   proyecto                  844 non-null    object
 3   vendedor                  844 non-null    object
 4   tipo_de_cliente           844 non-null    object
 5   cliente                   844 non-null    object
 6   cantidad                  844 non-null    float64
 7   articulo                  844 non-null    object
 8   costo                     844 non-null    float64
 9   impresión                 844 non-null    float64
 10  precio                    844 non-null    float64
 11  total                     844 non-null    float64
 12  mermas                    843 non-null    float64
 13  paqueteria_o_gasto_extra  743 non-null    float64
 14  utilidad_real             844 non-null    float64
dtypes: datetime64[ns](2), float64(8), object(5)
memory usage: 105.5+ KB

In [110]:
df_compras_christian[df_compras_christian.paqueteria_o_gasto_extra.isna()]

,creado,fecha,proyecto,vendedor,tipo_de_cliente,cliente,cantidad,articulo,costo,impresión,precio,total,mermas,paqueteria_o_gasto_extra,utilidad_real
741,2022-09-19 12:51:15,2022-09-26,AS20220909033,MOISES VELAZQUEZ,RECURRENTE,MEICANA DE BECAS,100.0,TERMO DE ACERO INOXIDABLES DOBLE PARED,127.25,4.40,163.46,16346.00,2.0,NaN,2926.50
742,2022-09-19 12:51:15,2022-09-26,AS20220902012,MOISES VELAZQUEZ,RECURRENTE,DISEÑO LITOGRAFICO,500.0,TRAILER ANTI-STRESS,22.78,2.00,28.48,14240.00,2.0,NaN,1804.44
743,2022-09-19 12:51:15,2022-09-26,AS20220902012,MOISES VELAZQUEZ,RECURRENTE,DISEÑO LITOGRAFICO,250.0,PELOTA ANTRI-ESTRESS,9.40,1.60,17.86,4465.00,2.0,NaN,1696.20
744,2022-09-19 12:51:15,2022-09-26,AS20220902012,MOISES VELAZQUEZ,RECURRENTE,DISEÑO LITOGRAFICO,1000.0,BOLIGRAFO DE PLASTICO,1.65,0.85,2.64,2640.00,10.0,NaN,123.50
745,2022-09-19 12:51:15,2022-09-26,AS20220902012,MOISES VELAZQUEZ,RECURRENTE,DISEÑO LITOGRAFICO,250.0,CAMIONETA ANTI ESTRES,19.00,3.20,23.75,5937.50,2.0,NaN,349.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,2022-11-30 18:21:34,2022-12-07,AS20221130021,MOISES VELAZQUEZ,RECURRENTE,MANTERRA,300.0,MOCHILA DE POLIÉSTER ROJO,151.50,3.15,197.07,59121.00,3.0,NaN,12271.50
840,2022-11-30 18:21:34,NaT,PS20221212010,MOISES VELAZQUEZ,RECURRENTE,SERGIO ZAMORA,50.0,BOLSA ECOLÓGICA PAOLA,39.23,0.00,62.51,3125.50,0.0,NaN,1164.00
841,2022-11-30 18:21:34,2022-12-27,AS20221213012,MOISES VELAZQUEZ,RECURRENTE,ADHETEC,1000.0,BOLIGRAFO SPLASH,5.70,0.85,9.97,9970.00,4.0,NaN,3397.20
842,2022-11-30 18:21:34,2022-12-27,AS20221213012,MOISES VELAZQUEZ,RECURRENTE,ADHETEC,100.0,CILINDRO DEPORTIVO VERDE,11.25,5.80,24.36,2436.00,3.0,NaN,697.25
843,2022-11-30 18:21:34,2022-12-27,AS20221213012,MOISES VELAZQUEZ,RECURRENTE,ADHETEC,135.0,TAZA PARA SUBLIMAR,18.49,11.00,38.73,5228.55,3.0,NaN,1191.93

In [111]:
df_compras_christian.paqueteria_o_gasto_extra.fillna(0,inplace=True)

In [112]:
df_compras_christian.paqueteria_o_gasto_extra.isna().sum()

0

In [113]:
df_compras_christian.mermas.isna().sum()

1

In [114]:
df_compras_christian.mermas.median()

1.0

In [115]:
df_compras_christian.mermas.fillna(1,inplace=True)

In [116]:
df_compras_christian.mermas.isna().sum()

0

In [117]:
df_compras_christian.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 844 entries, 0 to 843
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   creado                    844 non-null    datetime64[ns]
 1   fecha                     841 non-null    datetime64[ns]
 2   proyecto                  844 non-null    object
 3   vendedor                  844 non-null    object
 4   tipo_de_cliente           844 non-null    object
 5   cliente                   844 non-null    object
 6   cantidad                  844 non-null    float64
 7   articulo                  844 non-null    object
 8   costo                     844 non-null    float64
 9   impresión                 844 non-null    float64
 10  precio                    844 non-null    float64
 11  total                     844 non-null    float64
 12  mermas                    844 non-null    float64
 13  paqueteria_o_gasto_extra  844 non-null    float64
 14  utilidad_real             844 non-null    float64
dtypes: datetime64[ns](2), float64(8), object(5)
memory usage: 105.5+ KB

In [118]:
lista_fecha_nan = list(df_compras_christian[df_compras_christian.fecha.isna()].index)

In [119]:
df_compras_christian.iloc[438]['fecha']

NaT

In [120]:
df_compras_christian.iloc[437]['fecha']

Timestamp('2021-03-29 00:00:00')

In [121]:
for x in lista_fecha_nan:
    df_compras_christian['fecha'][x] = df_compras_christian['fecha'][x-1]

C:\Users\sistemas\AppData\Local\Temp\ipykernel_8472\3582923544.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_compras_christian['fecha'][x] = df_compras_christian['fecha'][x-1]

In [122]:
df_compras_christian.iloc[839]['fecha']

Timestamp('2022-12-07 00:00:00')

In [123]:
df_compras_christian.iloc[840]['fecha']

Timestamp('2022-12-07 00:00:00')

In [124]:
lista_fecha_nan

[438, 521, 840]

In [125]:
df_compras_christian.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 844 entries, 0 to 843
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   creado                    844 non-null    datetime64[ns]
 1   fecha                     844 non-null    datetime64[ns]
 2   proyecto                  844 non-null    object
 3   vendedor                  844 non-null    object
 4   tipo_de_cliente           844 non-null    object
 5   cliente                   844 non-null    object
 6   cantidad                  844 non-null    float64
 7   articulo                  844 non-null    object
 8   costo                     844 non-null    float64
 9   impresión                 844 non-null    float64
 10  precio                    844 non-null    float64
 11  total                     844 non-null    float64
 12  mermas                    844 non-null    float64
 13  paqueteria_o_gasto_extra  844 non-null    float64
 14  utilidad_real             844 non-null    float64
dtypes: datetime64[ns](2), float64(8), object(5)
memory usage: 137.8+ KB

In [126]:
list(df_compras_christian.vendedor.mode())[0]

'CRISTIAN HERNANDEZ'

In [128]:
df_compras_christian.vendedor = list(df_compras_christian.vendedor.mode())[0]

In [127]:
df_compras_christian.vendedor.value_counts()

CRISTIAN HERNANDEZ    729
MOISES VELAZQUEZ      115
Name: vendedor, dtype: int64

In [129]:
df_compras_christian.vendedor.value_counts()

CRISTIAN HERNANDEZ    844
Name: vendedor, dtype: int64